.nav{
    background-color: black;
    padding: 10px 8px;
    height: 100%;
    width: 200px;
    color: white;
    
    position: fixed;
    
    }
body{
    margin: 0;
}
.baa{
    display: flex;
    
    justify-content: center;
    background-color: gray;
    color: black;
    
    padding: 10px 8px;
}
.nav a{
    color: white;
    text-decoration: none;
    padding: 4px 2px;
    display: block;
    
}
.con{
    flex: 10;
    padding-right: 1800px;
}
.page{
    display: flex;
    flex-direction: row;
}